@font-face {
    font-family: "rainbow_regular";
    src: local("rainbow_regular"),
      url("../fonts/rainbow_regular.ttf") format("truetype");
  }
.contener {
    font-family: "rainbow_regular";
    position: relative;
    margin-top: 30px;
    padding: 30px;
    border: 1px solid #dadada;
    border-radius: 5px;
    }
.title {
    display: flex;
    justify-content: space-between;
    }
.title__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}
.title__button {
    font-size: 14px;
    font-weight: 400;
    color: #0054A6;
    line-height: 18px;
}  
.article {
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin-top: 10px;
}
.section {
    display: flex;
    width: 300px;
    height: 55px;
}
.section__text {
    display: flex;
    align-items: top;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 5px;
    color: #000000;
}
.section__picture {
    display: flex;
    align-items: center;
}
.section__picture--degrees {
    align-items: baseline;
}
.section__text--title {
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    line-height: 14px;
    color: #000000;
}